@use '../sass-utils';

.wp-block-newspack-blocks-homepage-articles.wpnbha {
	margin-bottom: auto;

	.article-section-title {
		font-size: var(--wp--preset--font-size--medium);
		font-weight: initial;
		line-height: var(--wp--custom--line-height--medium);
		margin: 0 0 var(--wp--preset--spacing--30);
	}

	.cat-links {
		color: var(--wp--preset--color--contrast);
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
		margin-bottom: var(--wp--preset--spacing--20);
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration-color: transparent;
			text-decoration-thickness: 0.1875em !important;
			text-underline-offset: 0.375em;
			transition: all 125ms linear;
			transition-delay: 100ms;

			&:hover {
				text-decoration-color: currentcolor;
			}
		}
	}

	.post-thumbnail {
		margin-bottom: var(--wp--preset--spacing--20);

		a {
			display: flex;
		}
	}

	.entry-meta {
		color: var(--wp--preset--color--contrast-3);
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);

		a {
			color: inherit;
		}
	}

	.has-background &,
	.has-text-color & {
		.entry-meta {
			color: currentcolor; // Fallback
			color: color-mix(in srgb, currentcolor 61%, transparent);
	
			a {
				color: inherit;
			}
		}
	}

	&.image-alignleft,
	&.image-alignright {
		.post-has-image {
			gap: var(--wp--preset--spacing--50);
		}

		.post-thumbnail {	
			margin: 0;
		}
	}

	&.is-style-borders {
		& + & {
			margin-top: var(--wp--preset--spacing--30);
		}

		article {
			border-color: var(--wp--preset--color--base-3);
			margin-bottom: var(--wp--preset--spacing--30);
			padding-bottom: var(--wp--preset--spacing--30);

			&:last-of-type:not(:first-of-type) {
				padding-bottom: 0;
			}
		}

		.has-background &,
		.has-text-color & {
			article {
				border-color: currentcolor; // Fallback
				border-color: color-mix(in srgb, currentcolor 15%, transparent);
			}
		}
	}

	&.is-grid {
		article {
			margin-bottom: 0;
		}

		&.colgap-1 .article-section-title {
			margin-bottom: var(--wp--preset--spacing--20);
		}

		&.colgap-2 .article-section-title {
			margin-bottom: 0;
		}

		&.colgap-3 .article-section-title {
			margin-bottom: calc( -1 * var(--wp--preset--spacing--30) );
		}
	}

	article {
		margin-bottom: var(--wp--preset--spacing--50);

		&:last-of-type {
			margin-bottom: 0;
		}

		.entry-title {
			font-size: var(--wp--preset--font-size--medium);
			line-height: var(--wp--custom--line-height--medium);
			margin: 0 0 var(--wp--preset--spacing--20);
		}

		.entry-wrapper {
			p {
				font-size: var(--wp--preset--font-size--medium);
				line-height: var(--wp--custom--line-height--medium);
				margin: var(--wp--preset--spacing--20) 0;
			}

			.entry-meta {
				align-items: start;
				column-gap: var(--wp--preset--spacing--20);
				display: grid;
				font-size: var(--wp--preset--font-size--x-small);
  				grid-template-columns: auto 1fr;
				line-height: var(--wp--custom--line-height--x-small);
				margin-top: var(--wp--preset--spacing--20);

				> a,
				> .avatar {
					grid-row: span 2;
				}

				&:not(:has(.entry-date)) {
					.avatar {
						height: 1.5rem;
						width: 1.5rem;
					}
				}

				&:not(:has(.avatar)) {
					grid-template-columns: auto;
				}
			}

			.byline {
				margin: 0;
			}

			.avatar {
				height: 3rem;
				margin: 0;
				width: 3rem;
			}
		}
	}

	&.ts-10 article,
	&.ts-9 article {
		.entry-wrapper {
			p {
				font-size: var(--wp--preset--font-size--x-large);
				line-height: var(--wp--custom--line-height--x-large);
			}
		}
	}

	&.ts-10 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--xxxxxx-large);
			line-height: var(--wp--custom--line-height--xxxxxx-large);
		}
	}

	&.ts-9 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--xxxxx-large);
			line-height: var(--wp--custom--line-height--xxxxx-large);
		}
	}

	&.ts-8 article,
	&.ts-7 article {
		.entry-wrapper {
			p {
				font-size: var(--wp--preset--font-size--large);
				line-height: var(--wp--custom--line-height--large);
			}
		}
	}

	&.ts-8 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--xxxx-large);
			line-height: var(--wp--custom--line-height--xxxx-large);
		}
	}

	&.ts-7 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--xxx-large);
			line-height: var(--wp--custom--line-height--xxx-large);
		}
	}

	&.ts-6 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--xx-large);
			line-height: var(--wp--custom--line-height--xx-large);
		}
	}

	&.ts-5 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--x-large);
			line-height: var(--wp--custom--line-height--x-large);
		}
	}

	&.ts-4 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--large);
			line-height: var(--wp--custom--line-height--large);
		}
	}

	&.ts-4 article,
	&.ts-3 article,
	&.ts-2 article,
	&.ts-1 article {
		.entry-wrapper {
			p {
				font-size: var(--wp--preset--font-size--small);
				line-height: var(--wp--custom--line-height--small);
			}
		}
	}

	&.ts-3 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--medium);
			line-height: var(--wp--custom--line-height--medium);
		}
	}

	&.ts-2 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--line-height--small);
		}
	}
	
	&.ts-1 article {
		.entry-title {
			font-size: var(--wp--preset--font-size--x-small);
			line-height: var(--wp--custom--line-height--x-small);
		}

		.entry-wrapper {
			p {
				font-size: var(--wp--preset--font-size--x-small);
				line-height: var(--wp--custom--line-height--x-small);
			}
		}
	}
}

// Layout with Newspack Grid

@mixin homepage-articles-grid {
	.newspack-grid & {
		article {
			display: grid;
		}

		.entry-wrapper {
			grid-column: 1 / -1;
		}
	}
}

@mixin homepage-articles-grid-15 {
	article {
		gap: var(--wp--preset--spacing--20);
		grid-template-columns: repeat(4, 1fr);
	}

	&,
	&.is-1 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 3;
			}

			.post-thumbnail {
				grid-column: span 1;
			}
		}
	}

	&.is-3,
	&.is-4 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 2;
			}

			.post-thumbnail {
				grid-column: span 2;
			}
		}
	}
}

@mixin homepage-articles-grid-25 {
	article {
		gap: var(--wp--preset--spacing--30);
		grid-template-columns: repeat(3, 1fr);
	}

	.post-has-image {
		.entry-wrapper {
			grid-column: span 2;
		}
	}

	&.is-1,
	&.is-3 {
		article {
			gap: var(--wp--preset--spacing--50);
		}
	}

	&.is-3,
	&.is-4 {
		article {					
			grid-template-columns: repeat(4, 1fr);
		}

		.post-has-image {
			.entry-wrapper {
				grid-column: span 2;
			}

			.post-thumbnail {
				grid-column: span 2;
			}
		}
	}
}

@mixin homepage-articles-grid-30 {
	article {
		grid-template-columns: repeat(8, 1fr);
	}

	.post-has-image {
		.entry-wrapper {
			grid-column: span 5;
		}

		.post-thumbnail {
			grid-column: span 3;
		}
	}

	&.is-1 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 6;
			}

			.post-thumbnail {
				grid-column: span 2;
			}
		}
	}

	&.is-3 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 4;
			}

			.post-thumbnail {
				grid-column: span 4;
			}
		}
	}

	&.is-4 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 3;
			}

			.post-thumbnail {
				grid-column: span 5;
			}
		}
	}
}

@mixin homepage-articles-grid-50 {
	article {
		grid-template-columns: repeat(6, 1fr);
	}

	.post-has-image {
		.entry-wrapper {
			grid-column: span 4;
		}

		.post-thumbnail {
			grid-column: span 2;
		}
	}

	&.is-1 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 5;
			}

			.post-thumbnail {
				grid-column: span 1;
			}
		}
	}

	&.is-3 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 3;
			}

			.post-thumbnail {
				grid-column: span 3;
			}
		}
	}

	&.is-4 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 2;
			}

			.post-thumbnail {
				grid-column: span 4;
			}
		}
	}
}

@mixin homepage-articles-grid-70 {
	article {
		grid-template-columns: repeat(8, 1fr);
	}

	.post-has-image {
		.entry-wrapper {
			grid-column: span 6;
		}

		.post-thumbnail {
			grid-column: span 2;
		}
	}

	&.is-1 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 7;
			}

			.post-thumbnail {
				grid-column: span 1;
			}
		}
	}

	&.is-3 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 5;
			}

			.post-thumbnail {
				grid-column: span 3;
			}
		}
	}

	&.is-4 {
		.post-has-image {
			.entry-wrapper {
				grid-column: span 4;
			}

			.post-thumbnail {
				grid-column: span 4;
			}
		}
	}
}

@include sass-utils.media(x-large) {
	.wp-block-newspack-blocks-homepage-articles.image-alignleft,
	.wp-block-newspack-blocks-homepage-articles.image-alignright {
		@include homepage-articles-grid;

		/* "33 / 33 / 33" layout */
		.newspack-grid .wp-block-column:not([style*='flex-basis']):nth-last-child(3):first-child &,
		.newspack-grid .wp-block-column:not([style*='flex-basis']):nth-last-child(3):first-child ~ .wp-block-column & {
			@include homepage-articles-grid-30;
		}

		/* "25 / 50 / 25" layout */
		.newspack-grid .wp-block-column[style*='25%'] & {
			@include homepage-articles-grid-25;
		}

		.newspack-grid .wp-block-column[style*='50%'] & {
			@include homepage-articles-grid-50;
		}

		/* "15 / 70 / 15" layout */
		.newspack-grid .wp-block-column[style*='15%'] & {
			@include homepage-articles-grid-15;
		}

		.newspack-grid .wp-block-column[style*='70%'] & {
			@include homepage-articles-grid-70;
		}

		/* "30 / 70" and "70 / 30" layouts */
		.newspack-grid .wp-block-column[style*='33.33%'] & {
			@include homepage-articles-grid-30;
		}

		.newspack-grid .wp-block-column[style*='66.66%'] & {
			@include homepage-articles-grid-70;
		}
	}
}