.wpnbha {
	.cat-links {
		color: var(--wp--preset--color--contrast);
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);
		text-transform: uppercase;

		a {
			color: inherit;
		}
	}

	.entry-meta {
		color: var(--wp--preset--color--contrast-3);
		font-size: var(--wp--preset--font-size--small);
		line-height: var(--wp--custom--line-height--small);

		a {
			color: inherit;
		}
	}

	&.is-style-borders article {
		border-color: var(--wp--preset--color--base-3);
	}
}
