ul {
	&.is-style-checked {
		list-style-type: none;
		padding-left: calc( var( --wp--preset--spacing--40 ) + 0.25em );

		li {
			position: relative;
			&::before {
				background: currentcolor;
				clip-path: polygon( 69.5833% 29.5834%, 43.3333% 65%, 29.5833% 54.5834%, 25.8333% 59.5834%, 44.5833% 73.75%, 74.5833% 33.3334%, 69.5833% 29.5834% );
				content: '';
				display: block;
				height: var( --wp--preset--spacing--40 );
				left: calc( -1 * ( var( --wp--preset--spacing--40 ) + 0.25em ) );
				position: absolute;
				top: calc( ( 1em * var( --wp--custom--line-height--medium ) - var( --wp--preset--spacing--40 ) ) / 2 );
				width: var( --wp--preset--spacing--40 );
			}
		}

		.has-xx-small-font-size &,
		&.has-xx-small-font-size,
		.has-x-small-font-size &,
		&.has-x-small-font-size {
			padding-left: calc( var( --wp--preset--spacing--30 ) + 0.25em );

			li::before {
				height: var( --wp--preset--spacing--30 );
				left: calc( -1 * ( var( --wp--preset--spacing--30 ) + 0.25em ) );
				top: calc( ( 1em * var( --wp--custom--line-height--xx-small ) - var( --wp--preset--spacing--30 ) ) / 2 );
				width: var( --wp--preset--spacing--30 );
			}
		}

		.has-x-small-font-size &,
		&.has-x-small-font-size {
			li::before {
				top: calc( ( 1em * var( --wp--custom--line-height--x-small ) - var( --wp--preset--spacing--30 ) ) / 2 );
			}
		}

		.has-small-font-size &,
		&.has-small-font-size {
			li::before {
				top: calc( ( 1em * var( --wp--custom--line-height--small ) - var( --wp--preset--spacing--40 ) ) / 2 );
			}
		}

		.has-large-font-size &,
		&.has-large-font-size {
			li::before {
				top: calc( ( 1em * var( --wp--custom--line-height--large ) - var( --wp--preset--spacing--40 ) ) / 2 );
			}
		}

		.has-x-large-font-size &,
		&.has-x-large-font-size,
		.has-xx-large-font-size &,
		&.has-xx-large-font-size {
			padding-left: calc( var( --wp--preset--spacing--50 ) + 0.25em );

			li::before {
				height: var( --wp--preset--spacing--50 );
				left: calc( -1 * ( var( --wp--preset--spacing--50 ) + 0.25em ) );
				top:  calc( ( 1em * var( --wp--custom--line-height--x-large ) - var( --wp--preset--spacing--50 ) ) / 2 );
				width: var( --wp--preset--spacing--50 );
			}
		}

		.has-xx-large-font-size &,
		&.has-xx-large-font-size {
			li::before {
				top: calc( ( 1em * var( --wp--custom--line-height--xx-large ) - var( --wp--preset--spacing--40 ) ) / 2 );
			}
		}

		.has-xxx-large-font-size &,
		&.has-xxx-large-font-size,
		.has-xxxx-large-font-size &,
		&.has-xxxx-large-font-size {
			padding-left: calc( var( --wp--preset--spacing--50 ) * 1.5 + 0.25em );

			li::before {
				height: calc( var( --wp--preset--spacing--50 ) * 1.5 );
				left: calc( -1 * ( var( --wp--preset--spacing--50 ) * 1.5 + 0.25em ) );
				top:  calc( ( 1em * var( --wp--custom--line-height--xxx-large ) - var( --wp--preset--spacing--50 ) * 1.5 ) / 2 );
				width: calc( var( --wp--preset--spacing--50 ) * 1.5 );
			}
		}

		.has-xxxx-large-font-size &,
		&.has-xxxx-large-font-size {
			li::before {
				top:  calc( ( 1em * var( --wp--custom--line-height--xxxx-large ) - var( --wp--preset--spacing--50 ) * 1.5 ) / 2 );
			}
		}

		.has-xxxxx-large-font-size &,
		&.has-xxxxx-large-font-size,
		.has-xxxxxx-large-font-size &,
		&.has-xxxxxx-large-font-size {
			padding-left: calc( var( --wp--preset--spacing--50 ) * 2 + 0.25em );

			li::before {
				height: calc( var( --wp--preset--spacing--50 ) * 2 );
				left: calc( -1 * ( var( --wp--preset--spacing--50 ) * 2 + 0.25em ) );
				top:  calc( ( 1em * var( --wp--custom--line-height--xxxxx-large ) - var( --wp--preset--spacing--50 ) * 2 ) / 2 );
				width: calc( var( --wp--preset--spacing--50 ) * 2 );
			}
		}

		.has-xxxxxx-large-font-size &,
		&.has-xxxxxx-large-font-size {
			li::before {
				top:  calc( ( 1em * var( --wp--custom--line-height--xxxxxx-large ) - var( --wp--preset--spacing--50 ) * 2 ) / 2 );
			}
		}
	}
}
