.wp-block-navigation {
	.wp-block-navigation__submenu-container {
		padding: 0.5em 0;
	}

	&.is-horizontal {
		// Give dropdowns a rounded border, a drop-shadow, and increase the top padding.
		.wp-block-navigation__submenu-container {
			border-radius: 6px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			overflow: hidden;
		}

		// Increase minimum dropdown width.
		.has-child .wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ .wp-block-navigation__submenu-container,
		.has-child:not(.open-on-click):hover > .wp-block-navigation__submenu-container {
			min-width: 240px;
		}
	}

	// Change the block spacing when vertical.
	&.is-vertical {
		gap: var(--wp--preset--spacing--40);

		ul, li {
			width: 100%;
		}

		.wp-block-navigation-item {
			flex-wrap: wrap;
		}

		.open-on-click {
			.wp-block-navigation__submenu-icon {
				margin-right: var(--wp--preset--spacing--30);
			}

			.wp-block-navigation__submenu-container {
				border: 0;
				border-radius: 0;
				box-shadow: none;
				margin-top: var(--wp--preset--spacing--20);

			}

			.wp-block-navigation-submenu__toggle[aria-expanded="true"] {
				~ .wp-block-navigation__submenu-container {
					position: static;
					width: 100%;
				}
			}

			.wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
				margin-left: var(--wp--preset--spacing--30);
				margin-top: 0;
			}
		}
	}
}