.wp-block-query {
	.wp-block-post:not(.type-post) {
		.post-meta,
		.wp-block-post-author,
		.wp-block-post-date {
			display: none;
		}
	}

	.wp-block-post:not(.has-post-thumbnail) {
		.wp-block-columns:not(.block-editor-block-list__layout) {
			display: block;

			.wp-block-column {
				&:empty {
					display: none;
				}
			}
		}
	}
}
