.wp-block-quote {
	> * {
		margin: 0;

		&:not(:first-child) {
			margin-top: var(--wp--preset--spacing--30);
		}
	}

	cite {
		display: inline-block;
		font-size: var(--wp--preset--font-size--small);
		font-style: normal;
		font-weight: normal;
		line-height: var(--wp--custom--line-height--small);
	}

	&:not(.has-text-color) cite {
		color: var(--wp--preset--color--tertiary);
	}
}
