.wp-block-search {
	.wp-block-search__button.has-icon {
		height: 3rem;
		line-height: 1;
		padding: 0.75rem;

		svg {
			height: 36px;
			min-height: 0;
			min-width: 0;
			vertical-align: middle;
			width: 36px;
		}
	}

	&__button-outside {
		.wp-block-search__button {
			margin-left: var(--wp--preset--spacing--15);
		}
	}

	&__button-inside {
		width: 100%;

		.wp-block-search__inside-wrapper {
			background-color: var(--wp--preset--color--base);
			border-radius: var(--wp--custom--border--radius-medium);
			box-sizing: border-box;
		}

		.wp-block-search__button {
			border-radius: var(--wp--custom--border--radius-small);
			margin-left: calc( 0.75 * var(--wp--preset--spacing--20) );
		}

		&.wp-block-search__icon-button {
			.wp-block-search__inside-wrapper {
				padding: calc( 0.75 * var(--wp--preset--spacing--20) - 1px );
			}

			.wp-block-search__button {
				display: grid;
				height: 36px;
				padding: 0;
				place-items: center;
				width: 36px;

				svg {
					height: 24px;
					width: 24px;
				}
			}
		}
	}
}
