.wp-block-search {
	.wp-block-search__button.has-icon {
		height: 3rem;
		line-height: 1;
		padding: 0.75rem;

		svg {
			height: 36px;
			min-height: 0;
			min-width: 0;
			vertical-align: middle;
			width: 36px;
		}
	}

	&__button-outside {
		.wp-block-search__button {
			margin-left: var(--wp--preset--spacing--15);
		}
	}

	&__button-inside {
		width: 100%;

		&:focus-within {
			border-radius: var(--wp--custom--border--radius-medium);
			outline: 1.5px solid;
			outline-offset: -1.5px;
		}

		.wp-block-search__inside-wrapper {
			background-color: var(--wp--preset--color--base);
			border-radius: var(--wp--custom--border--radius-medium);
			box-sizing: border-box;
		}

		.wp-block-search__input {
			padding: 0 0.25rem;

			&:focus {
				outline: none;
			}
		}

		.wp-block-search__button {
			border-radius: var(--wp--custom--border--radius-small);
		}

		&.wp-block-search__icon-button {
			.wp-block-search__inside-wrapper {
				gap: calc( 0.625rem - 1px );
				padding: calc( 0.625rem - 1px );

				&:has(> .has-small-font-size) {
					gap: calc( 0.375rem - 1px );
					padding: calc( 0.375rem - 1px );

					.wp-block-search__input {
						padding-left: 0.375rem;
						padding-right: 0.375rem;
					}
				}
			}

			.wp-block-search__button {
				display: grid;
				height: 36px;
				padding: 0;
				place-items: center;
				width: 36px;

				svg {
					height: 24px;
					width: 24px;
				}
			}
		}
	}
}
