<!-- wp:template-part {"slug":"header","theme":"newspack-block-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"quinary","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-quinary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">

<!-- wp:pattern {"slug":"newspack-block-theme/404"} /-->

<!-- wp:search {"label":"","placeholder":"Search...","buttonPosition":"button-inside","buttonUseIcon":true,"backgroundColor":"contrast"} /-->

<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast","fontSize":"small"} -->
<p class="has-text-align-center has-contrast-color has-text-color has-link-color has-small-font-size"><a href="/">No thanks, take me to the homepage</a></p>
<!-- /wp:paragraph --></main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|50","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:heading {"textAlign":"left","level":3,"align":"wide"} -->
<h3 class="wp-block-heading alignwide has-text-align-left">Latest articles</h3>
<!-- /wp:heading -->

<!-- wp:newspack-blocks/homepage-articles {"showAvatar":false,"showCategory":true,"postLayout":"grid","typeScale":3,"align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"newspack-block-theme","tagName":"footer"} /-->