<!-- wp:template-part {"slug":"header","theme":"newspack-block-theme","tagName":"header"} /-->

<!-- wp:template-part {"slug":"post-header","theme":"newspack-block-theme"} /-->

<!-- wp:group {"metadata":{"name":"Post Image"},"className":"post-image","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group post-image" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-featured-image /--></div>
<!-- /wp:group -->

<!-- wp:group {"lock":{"move":false,"remove":true},"metadata":{"name":"Post Content"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"post-footer","theme":"newspack-block-theme","className":"post-footer"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Post Bottom"},"style":{"spacing":{"blockGap":"var:preset|spacing|80"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"author-bio","theme":"newspack-block-theme","className":"author-bio"} /-->

<!-- wp:template-part {"slug":"comments-menu","theme":"newspack-block-theme","tagName":"div","className":"comments-menu"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"newspack-block-theme","tagName":"footer"} /-->
