.wp-block-newspack-my-account-button {
	&.has-small-size {
		align-items: center;
		display: inline-flex;
		min-height: var(--wp--custom--spacing--65);
		padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);

		&.is-style-outline {
			padding: calc(var(--wp--preset--spacing--20) - 1px) calc(var(--wp--preset--spacing--30) - 1px) !important;
		}
	}

	&.has-x-small-size {
		align-items: center;
		border-radius: var(--wp--custom--border--radius-small);
		display: inline-flex;
		min-height: var(--wp--custom--spacing--55);
		padding: var(--wp--custom--spacing--15) var(--wp--custom--spacing--25);

		&.is-style-outline {
			padding: calc(var(--wp--custom--spacing--15) - 1px) calc(var(--wp--custom--spacing--25) - 1px) !important;
		}
	}
}
