@use 'mixins';

/*
 * Newspack Theme
 */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.avatar {
	border-radius: 100%;
}

figcaption {
	color: var(--wp--preset--color--contrast-3);
	font-size: var(--wp--preset--font-size--x-small);
	line-height: var(--wp--custom--line-height--x-small);
	margin: var(--wp--preset--spacing--20) 0 0;		

	a {
		color: inherit;
	}

	.has-background &,
	.has-text-color & {
		color: currentcolor;
	}
}

// Dropcap
body .has-drop-cap:not(:focus)::first-letter {
	font-size: calc(4 * var(--wp--preset--font-size--medium));
	line-height: var(--wp--custom--line-height--medium);
	margin: 0 var(--wp--preset--spacing--30);
	padding: 0;
}

// Icons
[class*='newspack-icon'] {
	line-height: 0;

	span {
		left: -99999em;
		position: absolute;
	}

	.wp-block-button__link {
		@include mixins.button-icon;

		&::after {
			background-color: currentcolor;
			content: '';
			display: block;
			height: 24px;
			mask-size: 24px;
			width: 24px;
		}
	}
}

.newspack-icon-close .wp-block-button__link::after {
	mask: url('../../src/images/icon-close.svg') 0 0 no-repeat;
}

.newspack-icon-menu .wp-block-button__link::after {
	mask: url('../../src/images/icon-menu.svg') 0 0 no-repeat;
}

.newspack-icon-search .wp-block-button__link::after {
	mask: url('../../src/images/icon-search.svg') 0 0 no-repeat;
}

// Powered By
.powered-by {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
