@use 'sass-utils';

/**
 * Comments menu styles
 */
.comments-contents {
	background: var(--wp--preset--color--base);
	inset: 0 -100% 0 auto;
	margin: 0;
	max-width: clamp( 37.5rem, 30.357rem + 19.048vw, 47.5rem );
	opacity: 0;
	overflow: auto;
	padding: calc( 36px + var(--wp--preset--spacing--30) ) var(--wp--preset--spacing--30) var(--wp--preset--spacing--30);
	position: fixed;
	right: -100%;
	transition: opacity 125ms ease-in-out, right 250ms ease-in-out;
	width: 100%;
	z-index: sass-utils.$zindex-overlay-menu;

	@include sass-utils.media( small ) {
		padding-bottom: var(--wp--preset--spacing--50);
		padding-left: var(--wp--preset--spacing--50);
		padding-right: var(--wp--preset--spacing--50);
	}

	@include sass-utils.media( medium ) {
		padding-bottom: var(--wp--preset--spacing--80);
		padding-left: var(--wp--preset--spacing--80);
		padding-right: var(--wp--preset--spacing--80);
	}

	@include sass-utils.media( large-modal ) {
		padding-top: var(--wp--preset--spacing--80);
	}

	.admin-bar & {
		@include sass-utils.media( small ) {
			padding-top: calc( 36px + 46px + var(--wp--preset--spacing--30) );
		}

		@include sass-utils.media( medium ) {
			padding-top: calc( 36px + 32px + var(--wp--preset--spacing--30) );
		}

		@include sass-utils.media( large-modal ) {
			padding-top: calc( 32px + var(--wp--preset--spacing--80) );
		}
	}

	> * {
		visibility: hidden;
	}
}

.comments-menu-toggle {
	&.newspack-icon-close {
		display: grid;
		place-items: center;
		position: absolute;
		right: var(--wp--preset--spacing--20);
		top: var(--wp--preset--spacing--20);

		@include sass-utils.media( large-modal ) {
			height: var(--wp--preset--spacing--80);		
			right: 0;
			top: 0;
			width: var(--wp--preset--spacing--80);

			.admin-bar & {
				top: 32px;
			}
		}
	}
}

.menu-open--comments-menu {
	.comments-contents {
		opacity: 1;
		right: 0;

		> * {
			visibility: visible;
		}
	}
	
	.overlay-mask {
		display: block;
		opacity: 1;
	}
}
