// Extra variables
:root {
	--wp--preset--spacing--00: 0;
}

// Apply the custom CSS variables defined in theme.json.
.has-xx-small-font-size {
	line-height: var(--wp--custom--line-height--xx-small);
}

.has-x-small-font-size {
	line-height: var(--wp--custom--line-height--x-small);
}

.has-small-font-size {
	line-height: var(--wp--custom--line-height--small);
}

.has-medium-font-size {
	line-height: var(--wp--custom--line-height--medium);
}

.has-large-font-size {
	line-height: var(--wp--custom--line-height--large);
}

.has-x-large-font-size {
	line-height: var(--wp--custom--line-height--x-large);
}

.has-xx-large-font-size {
	line-height: var(--wp--custom--line-height--xx-large);
}

.has-xxx-large-font-size {
	line-height: var(--wp--custom--line-height--xxx-large);
}

.has-xxxx-large-font-size {
	line-height: var(--wp--custom--line-height--xxxx-large);
}