@use 'mixins';

/*
 * Form Styles
 * https://github.com/WordPress/gutenberg/issues/34198
 */
label {
	color: var(--wp--preset--color--contrast);
	display: inline-block;
	font-family: var( --wp--preset--font-family--system-font );
    font-size: var(--wp--preset--font-size--small);
    font-weight: 600;
    line-height: var(--wp--custom--line-height--small);
	margin-bottom: var(--wp--preset--spacing--20);
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='zip'],
input[type='color'],
textarea {
	@include mixins.input;
}

input[type='checkbox'],
input[type='radio'] {
	@include mixins.checkbox-radio;
}

input[type='checkbox'] {
	@include mixins.checkbox;
}

input[type='radio'] {
	@include mixins.radio;
}