@use 'mixins';

/*
 * Form Styles
 * https://github.com/WordPress/gutenberg/issues/34198
 */
label {
	color: var(--wp--preset--color--contrast);
	display: inline-block;
	font-family: var( --wp--preset--font-family--system-font );
    font-size: var(--wp--preset--font-size--small);
    font-weight: 600;
    line-height: var(--wp--custom--line-height--small);
	margin-bottom: var(--wp--preset--spacing--20);
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='zip'],
input[type='color'],
textarea {
	@include mixins.input;
}

input[type='checkbox'],
input[type='radio'] {
	@include mixins.checkbox-radio;
}

input[type='checkbox'] {
	@include mixins.checkbox;
}

input[type='radio'] {
	@include mixins.radio;
}

button,
input[type='submit'] {
	border: 0;
	border-radius: var( --newspack-ui-border-radius-m, var( --wp--custom--border--radius-medium ) );
	cursor: pointer;
	font-family: var( --newspack-ui-font-family, system-ui,sans-serif );
	font-size: var( --newspack-ui-font-size-s, var( --wp--preset--font-size--small ) );
	line-height: var( --newspack-ui-line-height-s, var( --wp--custom--line-height--small ) );
	padding: var( --newspack-ui-spacer-2, calc( var( --wp--preset--spacing--20 ) * 1.5 ) ) var( --newspack-ui-spacer-5, var( --wp--preset--spacing--40 ) );

	&:focus {
		outline: 2px solid var( --newspack-ui-color-neutral-90, --wp--preset--color--contrast );
		outline-offset: 1px;
	}
}