@use 'sass-utils';

/**
 * Mobile Header and Menu
 */
.desktop-header {
	display: none;
}

@include sass-utils.media( large ) {
	.desktop-header {
		display: inherit;
	}

	.mobile-header {
		display: none;
	}
}

.mobile-sidebar {
	background: var( --wp--custom--color--mobile-menu-background );
	color: var( --wp--custom--color--mobile-menu-text );
	inset: 0 -100% 0 auto;
	opacity: 0;
	overflow: auto;
	padding: var(--wp--preset--spacing--50) var(--wp--preset--spacing--40);
	position: fixed;
	transition: opacity 0.2s;
	width: 100%;
	z-index: 999999;

	> * {
		visibility: hidden;
	}

	a {
		color: inherit;
	}
}

@include sass-utils.media( medium ) {
	.mobile-sidebar {
		width: 50%;
	}
}

.overlay-mask {
	background: var( --wp--custom--background--mobile-menu-overlay );
	content: '';
	display: none;
	inset: 0;
	position: fixed;
	z-index: sass-utils.$zindex-overlay-menu;
}

.menu-open--mobile-menu .mobile-sidebar {
	opacity: 1;
	right: 0;
}

.menu-open--mobile-menu .mobile-sidebar > * {
	visibility: visible;
}

.menu-open--mobile-menu .overlay-mask {
	display: block;
}

.mobile-menu-toggle {
	span {
		display: inline-block;
		text-indent: -99999em;
	}

	.wp-block-button__link::after {
		background-color: currentcolor;
		content: "";
		display: inline-block;
		height: 14px;
		mask: url("../../src/images/menu.svg") 0 0 no-repeat;
		mask-size: 14px;
		width: 14px;
	}
}

.mobile-sidebar .mobile-menu-toggle {
	.wp-block-button__link::after {
		mask: url("../../src/images/close.svg") 0 0 no-repeat;
	}
}

