@mixin input {
    box-sizing: border-box;
	background-color: var( --wp--preset--color--base );
	border: 1px solid var( --wp--preset--color--base-4 );
	border-radius: var( --wp--custom--border--radius-medium );
    font-family: var( --wp--preset--font-family--system-font );
	font-size: var( --wp--preset--font-size--small );
	line-height: var( --wp--custom--line-height--small );
	padding: calc( 0.75rem - 1px );
	transition: background-color 125ms ease-in-out, border-color 125ms ease-in-out, outline 125ms ease-in-out;

	@media ( prefers-contrast: more ) {
		border-color: var( --wp--preset--color--contrast-3 );
	}

	&:focus {
		border-color: var( --wp--preset--color--contrast-3 );
		outline: 2px solid var( --wp--preset--color--contrast-3 );
		outline-offset: -1px;

		@media ( prefers-contrast: more ) {
			border-color: var( --wp--preset--color--contrast );
			outline-color: var( --wp--preset--color--contrast );
		}
	}

	&:disabled {
		background-color: var( --wp--preset--color--base-2 );
		border-color: var( --wp--preset--color--base-4 );

		@media ( prefers-contrast: more ) {
			background-color: var( --wp--preset--color--base-3 );
			border-color: var( --wp--preset--color--contrast-3 );
		}
	}
}

@mixin button-icon {
	background: transparent;
	display: grid;
	height: 36px;
	margin: 0;
	padding: 0;
	place-items: center;
	transition: background-color 125ms ease-in-out;
	width: 36px;

	&:hover {
		background-color: var( --wp--preset--color--base-2 );
		background-color: color-mix( in srgb, var( --wp--preset--color--contrast ) 3.5%, transparent );
	}

	&:focus {
		outline-offset: 2px;
	}
}

@mixin notice( $type, $margin: var( --wp--preset--spacing--50 ) 0 ) {
	--np--notice--color--border: var( --wp--custom--color--neutral-90 );
	--np--notice--color--background: var( --wp--custom--color--neutral-5 );

	@if $type == error {
		--np--notice--color--border: var( --wp--custom--color--error-50 );
		--np--notice--color--background: var( --wp--custom--color--error-0 );
	} @else if $type == success {
		--np--notice--color--border: var( --wp--custom--color--success-50 );
		--np--notice--color--background: var( --wp--custom--color--success-0 );
	}  @else if $type == warning {
		--np--notice--color--border: var( --wp--custom--color--warning-30 );
		--np--notice--color--background: var( --wp--custom--color--warning-0 );
	}

	background-color: var( --np--notice--color--background );
	border-left: 3px solid var( --np--notice--color--border );
	border-radius: var( --wp--custom--border--radius-x-small );
	color: var( --wp--custom--color--neutral-90 );
	font-family: var( --wp--preset--font-family--system-font );
	font-size: var( --wp--preset--font-size--x-small );
	line-height: var( --wp--custom--line-height--x-small );
	margin: $margin;
	padding: 1rem;
}