/* Proxy Banner */
#atomic-proxy-bar {
	background: white !important;
	border: 1px solid var(--newspack-ui-color-neutral-30, #ddd) !important;
	border-radius: 18px !important;
	bottom: 24px !important;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.14) !important;
	color: var(--newspack-ui-color-neutral-90, #1e1e1e) !important;
	display: flex;
	font-family: var(--newspack-ui-font-family, var(--wp--preset--font-family--inter, sans-serif)) !important;
	font-size: 0 !important;
	font-weight: 600 !important;
	height: 36px !important;
	left: 24px !important;
	letter-spacing: 0.05em !important;
	line-height: 24px !important;
	padding: 5px !important;
	top: auto !important;
	transform: none !important;
	transition: all 50ms ease-in-out;
	width: auto !important;

	&:hover {
		font-size: var(--newspack-ui-font-size-2xs, 12px) !important;
		gap: 8px;
		padding-right: 12px !important;
	}

	&::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z' fill='%23003DA5'/%3E%3Cpath d='M13.09 10.773V9.546H11.864L13.09 10.773ZM10.773 8.454H13.091V7.227H9.54603L10.773 8.454ZM8.45403 6.136H13.091V4.91H7.22703L8.45403 6.137V6.136ZM4.91003 4.91L13.092 13.092H10.774L6.54603 8.865V13.092H4.91003V4.91Z' fill='white'/%3E%3C/svg%3E");
		background-size: 24px 24px;
		content: "";
		display: block;
		height: 24px;
		width: 24px;
	}
}
