/*
 * Sass variables
 */

// Breakpoints
$xsmall-screen: 360px;
$small-screen: 600px;
$medium-screen: 782px;
$large-screen: 992px;
$xlarge-screen: 1320px;

// Z-indexes
$zindex-sticky-header: 1000;
$zindex-overlay-menu: 1050;


/*
 * Sass mixins
 */
@mixin media( $class ) {
	@if $class == x-small {
		@media only screen and ( min-width: $xsmall-screen ) {
			@content;
		}
	}

	@else if $class == small {
		@media only screen and ( min-width: $small-screen ) {
			@content;
		}
	}

	@else if $class == medium {
		@media only screen and ( min-width: $medium-screen ) {
			@content;
		}
	}

	@else if $class == large {
		@media only screen and ( min-width: $large-screen ) {
			@content;
		}
	}

	@else if $class == x-large {
		@media only screen and ( min-width: $xlarge-screen ) {
			@content;
		}
	}
}


