@use 'sass-utils';

/**
 * Search menu styles
 */
.search-contents {
	inset: 0 -100% 0 auto;
	margin: 0;
	opacity: 0;
	overflow: auto;
	padding: var(--wp--preset--spacing--30);
	position: fixed !important; // !important to override some styles in the editor.
	transition: opacity 0.125s;
	width: 100%;
	z-index: sass-utils.$zindex-overlay-menu;

	&__overlay {
		background: var(--wp--custom--color--neutral-70);
		bottom: 0;
		left: 0;
		margin: 0 !important;
		max-width: 100vw !important;
		position: absolute;
		top: 0;
		width: 100vw;
		z-index: -1;
	}

	> * {
		visibility: hidden;
	}

	.wp-block-group {
		margin-top: calc(10vh + var(--wp--custom--spacing--75));
		position: initial;
		width: 100%;
	}

	.wp-block-search {
		box-shadow: var(--wp--preset--shadow--elevation-3);
	}
}

.menu-open--search-menu {
	overflow: hidden;

	.search-contents {
		opacity: 1;
		right: 0;

		> * {
			visibility: visible;
		}
	}
}

.jetpack-instant-search {
	@include sass-utils.media(large) {
		.jetpack-instant-search__search-results-wrapper {
			max-width: 1020px;
		}
	}
}
