@use '../../scss/sass-utils';

/**
 * Search menu styles
 */
.search-overlay {
	background: var(--wp--preset--color--base);
	inset: 0 -100% 0 auto;
	margin: 0 !important; // !important to override styles from the block editor.
	max-width: 100% !important; // !important to override styles from the block editor.
	opacity: 0;
	overflow: auto;
	padding: var(--wp--preset--spacing--50) var(--wp--preset--spacing--40);
	position: fixed;
	transition: opacity 0.2s;
	width: 100%;
	z-index: sass-utils.$zindex-overlay-menu;

	> * {
		visibility: hidden;
	}

	.search-menu-toggle {
		float: right;
	}

	.search-wrapper {
		height: 90vh;

		.wp-block-search {
			margin-bottom: var(--wp--preset--spacing--70);
		}
	}
}

.admin-bar {
	.search-overlay {
		top: 46px;
	}

	@media (min-width: 782px) {
		.search-overlay {
			top: 32px;
		}
	}
}

.menu-open--search-menu {
	.search-overlay {
		left: 0;
		opacity: 1;
		right: 0;

		> * {
			visibility: visible;
		}
	}

	.search-menu-toggle {
		background: transparent;
		border: 0;
	}
}

.search-menu-toggle {
	color: var( --wp--preset--color--contrast );
	line-height: 1;
	padding: 0;

	svg {
		background: transparent;
		fill: currentcolor;
	}

	&:hover {
		color: var( --wp--preset--color--contrast );
	}
}

.jetpack-instant-search {
	@include sass-utils.media(large) {
		.jetpack-instant-search__search-results-wrapper {
			max-width: 1020px;
		}
	}
}
